<div class="container">
  <div class="row mt-3">
    <div class="col-6 mx-auto">
      <select class="form-select" aria-label="Default select example">
        <option selected>類別</option>
        {{#each categoryList}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-5 mx-auto position-relative">
      <p class="text-dark position-absolute top-0 start-0">總金額：</p>
      <h1 class="d-flex justify-content-end text-warning fw-bold">25260</h1>
    </div>
  </div>
  {{#each expencesList}}
    <div class="row mt-3 justify-content-end">
      <div class="col-6">
        <div class="row text-dark">
          <div
            class="col-2 d-flex justify-content-start align-items-center text-info"
          >
            {{{this.icon}}}
          </div>
          <div class="col-8 d-flex flex-column">
            <p class="fs-5 mb-0">{{this.name}}</p>
            <p class="fs-6 mb-0">{{this.date}}</p>
          </div>
          <div class="col-2 d-flex justify-content-end align-items-center">
            {{this.amount}}
          </div>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center">
        <a
          class="btn btn-primary me-3"
          href="/expenses/{{this._id}}/edit"
        >修改</a>
        <a class="btn btn-danger">刪除</a>
      </div>
    </div>
  {{/each}}
  <div class="row mt-3">
    <div class="col-4 mx-auto">
      <div class="d-flex">
        <a
          class="flex-fill btn btn-warning border border-3 border-dark text-dark"
          href="/expenses/new"
        >新增支出</a>
      </div>

    </div>
  </div>
</div>